@model DAL.Models.User

@{
    ViewData["Title"] = "Rejestracja";


}

<h1>Rejestracja</h1>

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    if (ViewBag.Message != null)
    {
        <div class="alert alert-success">
            @ViewBag.Message
        </div>
    }
}
else
{
    <hr />
    @Html.ValidationSummary()
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Registration">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                    @Html.ValidationMessage("IsExist", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EmailId" class="control-label"></label>
                    <input asp-for="EmailId" class="form-control" />
                    <span asp-validation-for="EmailId" class="text-danger"></span>
                    @Html.ValidationMessage("IsExist", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Zarejestruj się" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    if (ViewBag.Message != null)
    {
        <div class="alert alert-danger">
            <strong>Błąd!</strong>@ViewBag.Message
        </div>
    }
}
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
